

td.colore-1{
    background-color: hsl(0, 95%, 50%);
}
td.colore-2{
    background-color: hsl(0, 95%, 55%);
}
td.colore-3{
    background-color: hsl(0, 96%, 60%);
}

td.colore-4{
    background-color: hsl(0, 96%, 65%);
}

td.colore-5{
    background-color: hsl(0, 97%, 70%);
}

td.colore-6{
    background-color: hsl(0, 97%, 75%);
}

td.colore-7{
    background-color: hsl(0, 98%, 80%);
}

td.colore-8{
    background-color: hsl(0, 98%, 85%);
}

td.colore-9{
    background-color: hsl(0, 99%, 90%);
}

td.colore-10{
    background-color: hsl(0, 99%, 95%);
}

td.colore-11{
    background-color: hsl(65, 95%, 50%);
}

td.colore-12{
    background-color: hsl(65, 95%, 55%);
}

td.colore-13{
    background-color: hsl(65, 96%, 60%);
}

td.colore-14{
    background-color: hsl(65, 96%, 65%);
}

td.colore-15{
    background-color: hsl(65, 97%, 70%);
}

td.colore-16{
    background-color: hsl(65, 97%, 75%);
}

td.colore-17{
    background-color: hsl(65, 98%, 80%);
}

td.colore-18{
    background-color: hsl(65, 98%, 85%);
}

td.colore-19{
    background-color: hsl(65, 99%, 90%);
}

td.colore-20{
    background-color: hsl(1, 95%, 95%);
}

td.colore-21{
    background-color: hsl(130, 95%, 50%);
}
td.colore-22{
    background-color: hsl(130, 96%, 55%);
}

td.colore-23{
    background-color: hsl(130, 96%, 60%);
}

td.colore-24{
    background-color: hsl(130, 96%, 65%);
}

td.colore-25{
    background-color: hsl(130, 97%, 70%);
}

td.colore-26{
    background-color: hsl(130, 97%, 75%);
}

td.colore-27{
    background-color: hsl(130, 98%, 80%);
}

td.colore-28{
    background-color: hsl(130, 98%, 85%);
}

td.colore-29{
    background-color: hsl(130, 99%, 90%);
}

td.colore-30{
    background-color: hsl(130, 99%, 95%);
}

td.colore-31{
    background-color: hsl(195, 95%, 50%);
}
td.colore-32{
    background-color: hsl(195, 95%, 55%);
}

td.colore-33{
    background-color: hsl(195, 96%, 60%);
}

td.colore-34{
    background-color: hsl(195, 96%, 65%);
}

td.colore-35{
    background-color: hsl(195, 97%, 70%);
}

td.colore-36{
    background-color: hsl(195, 97%, 75%);
}

td.colore-37{
    background-color: hsl(195, 98%, 80%);
}

td.colore-38{
    background-color: hsl(195, 98%, 85%);
}

td.colore-39{
    background-color: hsl(195, 99%, 90%);
}

td.colore-40{
    background-color: hsl(195, 99%, 95%);
}

td.colore-41{
    background-color: hsl(260, 95%, 50%);
}
td.colore-42{
    background-color: hsl(260, 95%, 55%);
}

td.colore-43{
    background-color: hsl(260, 96%, 60%);
}

td.colore-44{
    background-color: hsl(260, 96%, 65%);
}

td.colore-45{
    background-color: hsl(260, 97%, 70%);
}

td.colore-46{
    background-color: hsl(260, 97%, 75%);
}

td.colore-47{
    background-color: hsl(260, 98%, 80%);
}

td.colore-48{
    background-color: hsl(260, 98%, 85%);
}

td.colore-49{
    background-color: hsl(260, 99%, 90%);
}

td.colore-50{
    background-color: hsl(260, 99%, 95%);
}

td.colore-51{
    background-color: hsl(280, 95%, 50%);
}
td.colore-52{
    background-color: hsl(280, 95%, 55%);
}

td.colore-53{
    background-color: hsl(280, 96%, 60%);
}

td.colore-54{
    background-color: hsl(280, 96%, 65%);
}

td.colore-55{
    background-color: hsl(280, 97%, 70%);
}

td.colore-56{
    background-color: hsl(280, 97%, 75%);
}

td.colore-57{
    background-color: hsl(280, 98%, 80%);
}

td.colore-58{
    background-color: hsl(280, 98%, 85%);
}

td.colore-59{
    background-color: hsl(280, 99%, 90%);
}

td.colore-60{
    background-color: hsl(280, 99%, 95%);
}

td.colore-61{
    background-color: hsl(320, 95%, 50%);
}
td.colore-62{
    background-color: hsl(320, 95%, 55%);
}

td.colore-63{
    background-color: hsl(320, 96%, 60%);
}

td.colore-64{
    background-color: hsl(320, 96%, 65%);
}

td.colore-65{
    background-color: hsl(320, 97%, 70%);
}

td.colore-66{
    background-color: hsl(320, 97%, 75%);
}

td.colore-67{
    background-color: hsl(320, 98%, 80%);
}

td.colore-68{
    background-color: hsl(320, 98%, 85%);
}

td.colore-69{
    background-color: hsl(320, 99%, 90%);
}

td.colore-70{
    background-color: hsl(320, 99%, 95%);
}

td.colore-71{
    background-color: hsl(321, 99%, 95%);
}


td.colore-72{
    background-color: hsl(322, 99%, 95%);
}