

.Color1{
    color: white;
    background-color: #000000;
}
.Color2{
    color: white;
    background-color: #010101;
}
.Color3{
    color: white;
    background-color: #0F0F0F;
}
.Color4{
    color: white;
    background-color: #191919;
}
.Color5{
    color: white;
    background-color: #1C1C1C;
}
.Color6{
    color: white;
    background-color: #202020;
}
.Color7{
    color: white;
    background-color: #293133;
}
.Color8{
    color: white;
    background-color: #212F3D;
}
.Color9{
    color: white;
    background-color: #273746;
}
.Color10{
    color: white;
    background-color: #2C3E50;
}


.Color11{
    color: black;
    background-color: #FF0000;
}
.Color12{
    color: black;
    background-color: #E62E11;
}
.Color13{
    color: black;
    background-color: #E62E00;
}
.Color14{
    color: black;
    background-color: #CB1D11;
}
.Color15{
    color: black;
    background-color: #FF2000;
}
.Color16{
    color: black;
    background-color: #FF3202;
}
.Color17{
    color: black;
    background-color: #FF4000;
}
.Color18{
    color: black;
    background-color: #FF5000;
}
.Color19{
    color: black;
    background-color: #FF6000;
}
.Color20{
    color: black;
    background-color: #E95400;
}


.Color21{
    color: black;
    background-color: #FFFF00;
}
.Color22{
    color: black;
    background-color: #FFE302;
}
.Color23{
    color: black;
    background-color: #FFF600;
}
.Color24{
    color: black;
    background-color: #FFDF00;
}
.Color25{
    color: black;
    background-color: #FFE900;
}
.Color26{
    color: black;
    background-color: #FFF83B;
}
.Color27{
    color: black;
    background-color: #FEFF3F;
}
.Color28{
    color: black;
    background-color: #FDFD96;
}
.Color29{
    color: black;
    background-color: #FFFDD0;
}
.Color30{
    color: black;
    background-color: #FFFFE0;
}


.Color31{
    color: black;
    background-color: #008000;
}
.Color32{
    color: black;
    background-color: #228B22;
}
.Color33{
    color: black;
    background-color: #019902;
}
.Color34{
    color: black;
    background-color: #52B830;
}
.Color35{
    color: black;
    background-color: #00FF00;
}
.Color36{
    color: black;
    background-color: #00FF7F;
}
.Color37{
    color: black;
    background-color: #0BDA51;
}
.Color38{
    color: black;
    background-color: #63E457;
}
.Color39{
    color: black;
    background-color: #478800;
}
.Color40{
    color: black;
    background-color: #669F5F;
}


.Color41{
    color: white;
    background-color: #000080;
}
.Color42{
    color: black;
    background-color: #0000CD;
}
.Color43{
    color: black;
    background-color: #0000FF;
}
.Color44{
    color: black;
    background-color: #4000FF;
}
.Color45{
    color: black;
    background-color: #0099FF;
}
.Color46{
    color: black;
    background-color: #1e90ff;
}
.Color47{
    color: black;
    background-color: #318CE7;
}
.Color48{
    color: black;
    background-color: #3498DB;
}
.Color49{
    color: black;
    background-color: #87cefa;
}
.Color50{
    color: black;
    background-color: #7DF9FF;
}


.Color51{
    color: white;
    background-color: #4A235A;
}
.Color52{
    color: black;
    background-color: #5B2C6F;
}
.Color53{
    color: black;
    background-color: #6C3483;
}
.Color54{
    color: black;
    background-color: #7D3C98;
}
.Color55{
    color: black;
    background-color: #8E44AD;
}
.Color56{
    color: black;
    background-color: #A569BD;
}
.Color57{
    color: black;
    background-color: #BB8FCE;
}
.Color58{
    color: black;
    background-color: #D2B4DE;
}
.Color59{
    color: black;
    background-color: #E8DAEF;
}
.Color60{
    color: black;
    background-color: #F4ECF7;
}


.Color61{
    color: black;
    background-color: #FFDEAD;
}
.Color62{
    color: black;
    background-color: #FCD1C6;
}
.Color63{
    color: black;
    background-color: #FAEBD7;
}
.Color64{
    color: black;
    background-color: #FFF5EE;
}
.Color65{
    color: black;
    background-color: #F2F0E6;
}
.Color66{
    color: black;
    background-color: #7B7D7D;
}
.Color67{
    color: black;
    background-color: #979A9A;
}
.Color68{
    color: black;
    background-color: #B3B6B7;
}
.Color69{
    color: black;
    background-color: #D0D3D4;
}
.Color70{
    color: black;
    background-color: #FFFFFF;
}

.Color71{
    color: black;
    background-color: #dcdcdc;
}

.Color72{
    color: black;
    background-color: #d3d3d3;
}