


.colorA{
    background-color: hsla(10, 91%, 53%, 1);
}

.colorB{
    background-color: hsla(14, 70%, 56%, 1);
}

.colorC{
    background-color: hsla(24, 90%, 70%, 1);
}

.colorD{
    background-color: hsla(127, 80%, 41%, 1);
}

.colorE{
    background-color: hsla(46, 90%, 53%, 1);
}

.colorF{
    background-color: hsla(155, 92%, 46%, 1);
}

.colorG{
    background-color: hsla(66, 91%, 53%, 1);
}

.colorH{
    background-color: hsla(176, 92%, 56%, 1);
}

.colorI{
    background-color: hsla(86, 91%, 53%, 1);
}

.colorJ{
    background-color: hsla(196, 42%, 56%, 1);
}

.colorK{
    background-color: hsla(107, 91%, 53%, 1);
}

.colorL{
    background-color: hsla(116, 42%, 56%, 1);
}