

#color1{


	background: #000000;
	color: white;

}

#color2{

	
	background: #000033;
	color: white;


}

#color3{

	background: #000066;
	color: white;


}

#color4{

	background: #000099;
	color: white;


}

#color5{


	background: #0000CC;
	color: white;

}

#color6{


	background: #0000FF;
	color: white;
	

}

#color7{

	
	background: #003300;
	color: white;


}

#color8{

	
	background: #003333;
	color: white;
	

}

#color9{

	
	background: #003366;
	color: white;
	

}

#color10{

	
	background: #003399;
	color: white;


}

#color11{

	
	background: #0033CC;
	color: white;
	

}

#color12{

	
	background: #0033FF;
	color: white;
	

}

#color13{

	
	background: #006600;
	color: white;
	

}

#color14{

	background: #006633;
	color: white;
	

}

#color15{

	
	background: #006699;
	color: white;


}

#color16{

	text-align: center;
	background: #0066CC;
	color: white;


}

#color17{

	text-align: center;
	background: #0066FF;
	color: white;
	width: 70px;
	height: 70px;
	font-family: Verdana;
	font-size: 15px;

}

#color18{


	background: #009900;
	color: white;


}

#color19{


	background: #009933;
	color: white;
	

}

#color20{


	background: #009966;
	color: white;


}

#color21{

	
	background: #009999;
	color: white;
	

}

#color22{

	
	background: #0099CC;
	color: white;

}

#color23{


	background: #0099FF;
	color: white;
	

}

#color24{


	background: #00CC00;
	color: white;
	

}

#color25{

	background: #00CC33;
	color: white;


}

#color26{

	
	background: #00CC66;
	color: white;


}

#color27{

	
	background: #00CC99;
	color: white;


}

#color28{


	background: #00CCCC;
	color: white;


}

#color29{


	background: #00CCFF;
	color: white;


}

#color30{

	
	background: #00FF00;
	color: white;

}

#color31{

	
	background: #990000;
	color: white;


}

#color32{

	background: #990033;
	color: white;
	

}

#color33{

	
	background: #990066;
	color: white;


}

#color34{

	
	background: #990099;
	color: white;
	

}

#color35{

	
	background: #9900CC;
	color: white;

}

#color36{

	background: #9900FF;
	color: white;
	
}

#color37{

	background: #FFCC00;
	color: white;


}

#color38{

	background: #FFFF00;
	color: balck;
	

}

#color39{

	background: #FFFF33;
	color: black;


}

#color40{

	background: #FFFF66;
	color: black;
	

}

#color41{

	background: #FFFF99;
	color: black;


}

#color42{

	
	background: #FFFFFF;
	color: black;

}